In [1]:
1+1

2

In [2]:
1+1 # Shift + Enter

2

In [3]:
1+1

2

In [1]:
myStr = 'Hello World'

In [2]:
myStr

'Hello World'

In [3]:
myStr[8]

'r'

In [4]:
alpha[8] = hello world

SyntaxError: invalid syntax (<ipython-input-4-62d1f4cb9300>, line 1)

In [5]:
alpha[8] = 'Hello World'

NameError: name 'alpha' is not defined

In [6]:
'Python {}!'.format('rules')

'Python rules!'

In [7]:
'--------------------------------------------------------------------'

'--------------------------------------------------------------------'

In [8]:
'LISTS'

'LISTS'

In [10]:
'-------------------------------'

'-------------------------------'

In [11]:
my_list = [1,2,3]

In [12]:
len(my_list)

3

In [13]:
my_list[1:]

[2, 3]

In [17]:
another_list = ['four','eight']

In [19]:
new_list = my_list + another_list

In [20]:
new_list[3] = 'FOUR'

In [21]:
new_list

[1, 2, 3, 'FOUR', 'eight']

In [22]:
new_list.append(12)

In [23]:
new_list

[1, 2, 3, 'FOUR', 'eight', 12]

In [24]:
new_list.append('five')

In [25]:
new_list

[1, 2, 3, 'FOUR', 'eight', 12, 'five']

In [26]:
new_list.pop()

'five'

In [27]:
new_list

[1, 2, 3, 'FOUR', 'eight', 12]

In [30]:
popped = new_list.pop()

In [31]:
popped

12

In [32]:
new_list.pop(0)

1

In [33]:
new_list

[2, 3, 'FOUR', 'eight']

In [34]:
new_list.pop(-1)

'eight'

In [35]:
new_list

[2, 3, 'FOUR']

In [36]:
new_list = ['x','v','r','d']
num = [1,3,4,5,2]

In [37]:
new_list.sort()

In [38]:
new_list

['d', 'r', 'v', 'x']

In [39]:
num.sort()

In [40]:
num

[1, 2, 3, 4, 5]

In [41]:
 None

In [42]:
num

[1, 2, 3, 4, 5]

In [44]:
num.reverse()

num

In [45]:
num

[5, 4, 3, 2, 1]

In [46]:
list = [1,2,[3,4]]

In [49]:
list[2][0]

3

In [1]:
list2 = [[1,2,3],[4,1]]

In [2]:
list2

[[1, 2, 3], [4, 1]]

In [4]:
list2.sort()

In [5]:
list2

[[1, 2, 3], [4, 1]]

In [6]:
list2.reverse()

In [7]:
list2

[[4, 1], [1, 2, 3]]

In [9]:
list2.sort()

In [10]:
list2

[[1, 2, 3], [4, 1]]