In [1]:
1+1

2

In [2]:
1+1 # Shift + Enter

2

In [3]:
1+1

2

In [1]:
myStr = 'Hello World'

In [2]:
myStr

'Hello World'

In [3]:
myStr[8]

'r'

In [4]:
alpha[8] = hello world

SyntaxError: invalid syntax (<ipython-input-4-62d1f4cb9300>, line 1)

In [5]:
alpha[8] = 'Hello World'

NameError: name 'alpha' is not defined

In [6]:
'Python {}!'.format('rules')

'Python rules!'

In [7]:
'--------------------------------------------------------------------'

'--------------------------------------------------------------------'

In [8]:
'LISTS'

'LISTS'

In [10]:
'-------------------------------'

'-------------------------------'

In [11]:
my_list = [1,2,3]

In [12]:
len(my_list)

3

In [13]:
my_list[1:]

[2, 3]

In [17]:
another_list = ['four','eight']

In [19]:
new_list = my_list + another_list

In [20]:
new_list[3] = 'FOUR'

In [21]:
new_list

[1, 2, 3, 'FOUR', 'eight']

In [22]:
new_list.append(12)

In [23]:
new_list

[1, 2, 3, 'FOUR', 'eight', 12]

In [24]:
new_list.append('five')

In [25]:
new_list

[1, 2, 3, 'FOUR', 'eight', 12, 'five']

In [26]:
new_list.pop()

'five'

In [27]:
new_list

[1, 2, 3, 'FOUR', 'eight', 12]

In [30]:
popped = new_list.pop()

In [31]:
popped

12

In [32]:
new_list.pop(0)

1

In [33]:
new_list

[2, 3, 'FOUR', 'eight']

In [34]:
new_list.pop(-1)

'eight'

In [35]:
new_list

[2, 3, 'FOUR']

In [36]:
new_list = ['x','v','r','d']
num = [1,3,4,5,2]

In [37]:
new_list.sort()

In [38]:
new_list

['d', 'r', 'v', 'x']

In [39]:
num.sort()

In [40]:
num

[1, 2, 3, 4, 5]

In [41]:
 None

In [42]:
num

[1, 2, 3, 4, 5]

In [44]:
num.reverse()

num

In [45]:
num

[5, 4, 3, 2, 1]

In [46]:
list = [1,2,[3,4]]

In [49]:
list[2][0]

3

In [1]:
list2 = [[1,2,3],[4,1]]

In [2]:
list2

[[1, 2, 3], [4, 1]]

In [4]:
list2.sort()

In [5]:
list2

[[1, 2, 3], [4, 1]]

In [6]:
list2.reverse()

In [7]:
list2

[[4, 1], [1, 2, 3]]

In [9]:
list2.sort()

In [10]:
list2

[[1, 2, 3], [4, 1]]

In [11]:
my_dict = {'key1' : 'a', 'key2': 'b'}

In [12]:
my_dict

{'key1': 'a', 'key2': 'b'}

In [13]:
my_dict['key2']

'b'

In [14]:
price = {'apple':23,'choco':12}

In [15]:
price['choco']

12

In [16]:
A = {'a':123,'b':[1,2,3],'c':{'in':123}}

In [17]:
A[a]

NameError: name 'a' is not defined

In [18]:
A['a']

123

In [19]:
A['b']

[1, 2, 3]

In [20]:
A['c']

{'in': 123}

In [21]:
A['b'][2]

3

In [22]:
A['c']['in']

123

In [23]:
A.keys()

dict_keys(['a', 'b', 'c'])

In [24]:
A.values()

dict_values([123, [1, 2, 3], {'in': 123}])

In [25]:
A.items()

dict_items([('a', 123), ('b', [1, 2, 3]), ('c', {'in': 123})])

In [26]:
---------------------------------------------------

SyntaxError: invalid syntax (<ipython-input-26-fd35466592d0>, line 1)

In [27]:
'----------------------------------------------------------'

'----------------------------------------------------------'

In [28]:
'TUPLES'

'TUPLES'

In [29]:
"---------------"

'---------------'

In [30]:
t =(1,2,3)

In [31]:
type(t)

tuple

In [32]:
len(t)

3

In [33]:
t.count()

TypeError: count() takes exactly one argument (0 given)

In [34]:
t[0]

1

In [35]:
t[-2]

2

In [36]:
t = ('a,a,a,b,b,c')

In [37]:
t.count(a)

NameError: name 'a' is not defined

In [38]:
t.count('a')

3

In [39]:
t.index('a')

0

In [40]:
t.index('b')

6

In [41]:
 t.index('b')

6

In [42]:
t

'a,a,a,b,b,c'

In [43]:
mylist

NameError: name 'mylist' is not defined

In [44]:
list

list

In [45]:
list2

[[1, 2, 3], [4, 1]]

In [46]:
myset = set()

In [47]:
myset

set()

In [48]:
myset.add(1)

In [49]:
myset

{1}

In [50]:
myset.add(2,3)

TypeError: add() takes exactly one argument (2 given)

In [51]:
myset.add(2)

In [52]:
myset.add(2)

In [53]:
myset

{1, 2}

In [54]:
mylist = [1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4]

In [55]:
mylist

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4]

In [56]:
set(mylist)

{1, 2, 3, 4}

In [57]:
'------------------------'

'------------------------'

In [58]:
'BOOLEAN'

'BOOLEAN'

In [59]:
'-------------------------'

'-------------------------'

In [60]:
True

True

In [61]:
False

False

In [62]:
type(True)

bool

In [63]:
1>2

False

In [64]:
1==2

False

In [65]:
1==1

True

In [66]:
"-----------------------------"

'-----------------------------'

In [67]:
'FILES'

'FILES'

In [68]:
'-----------------------------------'

'-----------------------------------'

In [69]:
test.txt

NameError: name 'test' is not defined

In [71]:
%%writefile myfile.txt
hello test file text
second line
third

Writing myfile.txt

In [72]:
myfile =open('myfile.txt')

In [73]:
pwd

'C:\\Users\\email\\My Python Stuff'

In [74]:
myfile = open('myfile.txt')

In [76]:
myfile.read()

'hello test file text\nsecond line\nthird\n'

In [77]:
myfile.seek(0)

0

In [78]:
myfile.read()

'hello test file text\nsecond line\nthird\n'

In [79]:
pwd

'C:\\Users\\email\\My Python Stuff'

In [80]:
myfile.close()

In [81]:
myfile.read()

ValueError: I/O operation on closed file.

In [82]:
with open('myfile.txt')as my_file:
    contents = my_file.read()

In [84]:
contents

'hello test file text\nsecond line\nthird\n'

In [88]:
with open ('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [89]:
%%writefile my_new_file.txt
one first
two second
three third

Writing my_new_file.txt

In [90]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

one first
two second
three third

In [91]:
with open('my_new_file.txt', mode='a') as f:
    f.write('four fourth')

In [92]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

one first
two second
three third
four fourth

In [93]:
with open('ahsbdhabebaiakajna.txt', mode='w') as f:
    f.write('random file')

In [95]:
with open('ahsbdhabebaiakajna.txt', mode='r') as f:
    print(f.read())

random file

In [96]:
'---------------------------'

'---------------------------'

In [97]:
'comparision operators'

'comparision operators'

In [98]:
'----------------------'

'----------------------'

In [99]:
True

True

In [100]:
2 ==2

True

In [101]:
2<2

False

In [102]:
2<=2

True

In [103]:
'HI'=='hi'

False

In [104]:
'HI'=='HI'

True

In [105]:
2.0==2

True

In [106]:
3!=2

True

In [108]:
14!=14

False

In [109]:
2<5

True

In [110]:
2<=5

True

In [112]:
3+2==4

False

In [113]:
1<2<1

False

In [114]:
1<2<3

True

In [115]:
1<3>2

True

In [116]:
1<2 and 2>3

False

In [117]:
1<2 and 2<3

True

In [118]:
1<2 or 2<3

True

In [119]:
1<2 or 2>3

True

In [120]:
1 == 1

True

In [121]:
not(1==1)

False

In [122]:
not 1==1

False

In [123]:
400 > 5000

False

In [124]:
not 400>5000

True

In [125]:
"----------------------"

'----------------------'

In [126]:
'control flow'

'control flow'

In [127]:
'______________________'

'______________________'

In [1]:
if True:
    print('It was true!')

It was true!

In [2]:
x = False

if x:
    print('x was True!')
else:
    print('I will be printed in any case where x is not true')

I will be printed in any case where x is not true

In [3]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

Welcome to the bank!

In [4]:
person = 'Sammy'

if person == 'Sammy':
    print('Welcome Sammy!')
else:
    print("Welcome, what's your name?")

Welcome Sammy!

In [5]:

person = 'George'

if person == 'Sammy':
    print('Welcome Sammy!')
elif person =='George':
    print('Welcome George!')
else:
    print("Welcome, what's your name?")

Welcome George!

In [6]:
'---------------------------------------------'

'---------------------------------------------'

In [7]:
'LOOPS'

'LOOPS'

In [8]:
'----------------------------------------------'

'----------------------------------------------'

In [10]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [11]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [13]:
17 % 5

2

In [14]:
10 % 3

1

In [15]:
4 % 2

0

In [17]:

for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [18]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

In [19]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number = 'num)

SyntaxError: invalid syntax (<ipython-input-19-835f654892aa>, line 5)

In [20]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')
        print(num)

Odd number
1
2
Odd number
3
4
Odd number
5
6
Odd number
7
8
Odd number
9
10

In [21]:
list_sum = 0 

for num in list1:
    list_sum = list_sum + num

print(list_sum)

55